<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunjia.lark.mapper.SysRoleCategoryMapper">

    <resultMap type="com.yunjia.lark.model.entity.SysRoleCategory" id="SysRoleCategoryMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="rid" column="rid" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
        <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
        <result property="ctime" column="ctime" jdbcType="TIMESTAMP"/>
        <result property="utime" column="utime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="SysRoleCategoryMap">
        select
          id, rid, name, status, description, created_by, updated_by, ctime, utime
        from lark_security.sys_role_category
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SysRoleCategoryMap">
        select
          id, rid, name, status, description, created_by, updated_by, ctime, utime
        from lark_security.sys_role_category
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="SysRoleCategoryMap">
        select
          id, rid, name, status, description, created_by, updated_by, ctime, utime
        from lark_security.sys_role_category
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="rid != null">
                and rid = #{rid}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="createdBy != null and createdBy != ''">
                and created_by = #{createdBy}
            </if>
            <if test="updatedBy != null and updatedBy != ''">
                and updated_by = #{updatedBy}
            </if>
            <if test="ctime != null">
                and ctime = #{ctime}
            </if>
            <if test="utime != null">
                and utime = #{utime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into lark_security.sys_role_category(rid, name, status, description, created_by, updated_by, ctime, utime)
        values (#{rid}, #{name}, #{status}, #{description}, #{createdBy}, #{updatedBy}, now(), now())
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update lark_security.sys_role_category
        <set>
            <if test="rid != null">
                rid = #{rid},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="createdBy != null and createdBy != ''">
                created_by = #{createdBy},
            </if>
            <if test="updatedBy != null and updatedBy != ''">
                updated_by = #{updatedBy},
            </if>
            <if test="ctime != null">
                ctime = #{ctime},
            </if>
            utime = now(),
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from lark_security.sys_role_category where id = #{id}
    </delete>

</mapper>